.contact-icons-title-row {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  & h2 {
    text-align: center;
    font-size: 40px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;

    @media (min-width: 576px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
      font-size: 55px;
    }
  }
}

.contact-icons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;

  & > div {
    display: flex;
    justify-content: center;
  }

  & img {
    padding: 20px;
  }
}
