.project-menu-cell {
  position: relative;
  background-color: #280831;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  cursor: pointer;

  & > img {
    width: 100%;
    aspect-ratio: 6/7;
    object-fit: cover;
    object-position: center;
  }

  @media (min-width: 576px) {
    height: 85vh;

    & > img {
      height: 100%;
    }
  }

  @media (min-width: 576px) and (min-height: 768px) {
    height: 50vh;
  }

  @media (min-width: 992px) {
    height: 70vh;
  }

  @media (min-width: 1200px) {
    height: 30vw;
    & > img {
      height: 100%;
    }
  }
}

.project-menu-tags {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 10px;

  background-color: #28083188;

  &.static {
    position: static;
  }

  & > .tag {
    padding: 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
    background-color: #ffffffbb;
    color: #280831;
    border-radius: 1rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1em;
  }

  @media (min-width: 576px) {
    justify-content: start;
  }

  @media (min-width: 576px) and (min-height: 768px) {
    padding: 20px;
    justify-content: center;
    & > .tag {
      padding: 0.6rem;
      font-size: 1.1rem;
      margin: 0.25rem 0.75rem 0.25rem 0;
    }
  }

  @media (min-width: 992px) {
    justify-content: start;
  }
}

.project-menu-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: #280831aa;

  & .title {
    font-family: "Rajdhani", sans-serif;
    padding: 5px 10%;
    text-align: center;
    color: #fefefe;
    font-size: 30px;

    font-weight: 500;
    transition: padding-bottom 0.5s;
  }

  & .description {
    font-family: "Lato", sans-serif;
    padding: 0 5%;
    overflow: hidden;
    font-size: 1.2rem;
    text-align: justify;
    color: #fefefe;
    font-size: 20px;

    &:not(.closed) {
      max-height: 250px;
      padding-bottom: 100px;
      transition: max-height 1s, padding-bottom 1s, padding-top 1s;
    }
    &.closed {
      max-height: 0px;
      transition: max-height 1s, padding-bottom 1s, padding-top 1s;
    }
  }

  @media (min-width: 576px) and (min-height: 768px) {
    & .title {
      padding: 10px 10%;
      font-size: 35px;
    }

    & .description {
      line-height: 1.5;
      font-size: 1.35rem;

      &:not(.closed) {
        max-height: 350px;
        padding-bottom: 100px;
        padding-top: 100px;
        transition: max-height 1s, padding-bottom 1s, padding-top 1s;
      }
      &.closed {
        max-height: 0px;
        transition: max-height 1s, padding-bottom 1s, padding-top 1s;
      }
    }
  }

  @media (min-width: 992px) {
    & .title {
      padding: 25px 10% 25px 10%;
      font-size: 40px;
    }

    & .description {
      font-size: 1.5rem;
    }
  }
}
