.carousel{
    height: calc(90vh - 80px);
    position: relative;
    @media(max-width:992px)
    {
        height: calc(100vh - 80px);
    }

    & > img.image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.loadingBar
{
    position: absolute;
    z-index: 10;

    bottom: 0;
    height: 10px;
    background-color: black;
}

.arrowLeft
{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 50px;

    cursor: pointer;

    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media(max-width:992px)
        {
            top: 80%;
            height: 50px;
        }
    
    
    & > span {
        font-size: 100px;
        color: #280381aa;
        font-weight: bolder;

        &:hover
        {
            color: #280381;
            transition: all 0.2s ease;
        }
    }
}

.arrowRight
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 50px;

    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    
    @media(max-width:992px)
        {
            top: 80%;
            height: 50px;
        }



    
    & > span {
        font-size: 100px;
        color: #280381aa;
        font-weight: bolder;

        &:hover
        {
            color: #280381;
            transition: all 0.2s ease;
        }
    }
}

.description-text
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;

    background-color: #eeeeeebb;
    display: flex;
    justify-content: center;
    align-items: center;

    & h2 {
        color: #280381;
        font-family: Videotype, sans-serif;
    } 
    &>.inner{
        width: 75%;
        height: 90%;
        padding: 2em;

        display: flex;
        flex-direction: column;

        @media(max-width:992px)
        {
            width: 100%;
            height: 100%;
        }

        overflow-y: auto;
        & > h2 {
            text-align: center;
            font-size: 50px;

            @media(max-width:992px)
        {
            font-size: 25px;
        }
        }

        & > .description {
            margin-top: 50px;
            text-align: justify;
            font-size: 21px;

            flex-grow: 1;

            display: flex;
            height: 100%;
            text-indent: none;
            align-items: center;
            flex-direction: column;


            @media(max-width:992px)
        {
            margin-top: 25px;
            font-size: 14px;
            
        }
        @media(max-width:1200px)
        {
            margin-top: 25px;
            font-size: 17px;
            
        }
        }

    }
}

.carousel-title-box
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #eeeeeebb;

    transition: height 0.25 ease;

    &--hover
    {
        padding-top: 10px;
        height: calc(10% + 10px);
        transition: all 0.25s ease;
        cursor: pointer;
    }

    & > h2
    {
        color: #280381cc;
        font-family: Videotype, sans-serif;
        &.hover
        {
            color: #280381;
            transition: all 0.25 ease;
        }

        transition: all 0.25 ease;
    }

    
}