.navbar-wrapper {
  background-color: #000000;
  width:100%;

  border-bottom: 5px solid black;
  box-sizing: content-box;

  padding: 5px 0px;

  position: relative;

  & > .navbar-effect
  {
    position: absolute;
    bottom: -5px;
    height: 5px;
    transform: skewX(-45deg);
    width:0;
    background-color: #68157e;
    animation: animateWidth 2s linear both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes animateWidth
  {
    0%
    {
      width: 0;
      left: 5%;
    }
    25%
    {
      width: 20%;
      left: 5%;
    }
    75%
    {
      width: 20%;
      left: 75%;
    }
    100%
    {
      width: 0;
      left:95%;
    }
  }
}

.brand
{
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  font-size: 38px;
  color: white;
  margin-left: 20px;

  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;

  @media(max-width:992px)
  {
    justify-content: center;
    margin-left: 0px;
    font-size: 28px;
  }

  @media(max-width: 600px)
  {
    font-size: 22px;
  }
}



