
.footer-wrapper {
  background-color: black;
  width:100%;
  height: max(10vh, 5vw);

  & div{
    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 992px)
    {
      flex-direction: column;
    
    }



    color: #888888;
    font-size: 18px;
  }
}