.project-container
{
    &-title
    {
        display: flex;
        align-items: center;
        justify-content: center;
        & h2
        {
            text-align: center;
            font-size: 4rem;
            line-height: 4.8rem;
            letter-spacing: -0.15rem;
            font-family: 'Videotype', sans-serif;

            @media(max-width: 992px)
            {
                font-size: 3rem;
            }
        }
    }

    &-description
    {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;

        & p 
        {
            font-size: 2rem;
            letter-spacing: -0.05rem;
            color: #280831;
            max-width: 80vw;
            text-align: center;

            @media(max-width: 992px)
            {
                font-size: 1rem;
            }

            & > a
            {
               
                color: #280831;
                text-decoration: none;
                cursor: pointer;
                transition: color 0.2s ease;

                &:hover
                {
                    color: #660166;
                }
            }
        }
    }
}