div.side-menu-button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  cursor: pointer;

  aspect-ratio: 1/1;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

div.side-menu {
  background-color: #00000088;
  position: absolute;
  right: 0;
  top: 100%;
  height: calc(100vh - 100%);
  width: 20vw;
}
