div.side-menu-button {
  position: absolute;
  right: 10px;

  margin: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0px;
  cursor: pointer;

  aspect-ratio: 1/1;

  top: 20%;
  bottom: 20%;

  @media (min-width: 576px) {
    bottom: 10%;
    top: 10%;
  }

  @media (min-width: 992px) {
    margin: 10px 20px;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &--open {
    transform: rotate(-90deg);

    transition: transform 0.4s ease;
  }

  &--closed {
    transform: rotate(0deg);

    transition: transform 0.4s ease;
  }
}

div.side-menu-backdrop {
  background-color: #00000000;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: calc(100vh - 100%);
}

div.side-menu {
  background-color: #28083188;
  position: absolute;
  right: 0;
  top: 100%;

  width: 100%;

  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 45px;
  gap: 30px;

  overflow-y: hidden;
  overflow-x: hidden;

  &--opening {
    height: 0;
    animation: sideMenuSlideDown 0.4s ease both;
  }

  &--opened {
    height: calc(75vh - 100%);
  }

  &--closing {
    height: calc(75vh - 100%);
    animation: sideMenuSlideDown 0.4s ease both reverse;
  }

  &--closed {
    height: 0;
    display: none;
  }

  & a {
    text-decoration: none;
    border-bottom: 1px solid white;
    color: #fefefe;

    &:hover {
      color: #d9abd7;
      border-bottom-color: #d9abd7;
      transition: color 0.3s, border-bottom-color 0.2s 0.1s;
    }
  }

  @media (min-width: 576px) {
    font-size: 32px;
    gap: 10px;
  }

  @media (min-width: 768px) {
    font-size: 32px;
    gap: 12px;
  }

  @media (min-width: 992px) {
    font-size: 45px;
    width: 50%;
    gap: 30px;

    &--opened {
      height: calc(100vh - 100%);
    }

    &--closing {
      height: calc(100vh - 100%);
      animation: sideMenuSlideDown 0.4s ease both reverse;
    }
  }

  @media (min-width: 1200px) {
    width: 25%;
  }
}

@keyframes sideMenuSlideDown {
  from {
    height: 0;
  }
  to {
    height: calc(75vh - 100%);
  }
}

@keyframes sideMenuSlideUp {
  from {
    height: calc(75vh - 100%);
  }
  to {
    height: 0;
  }
}

@media (min-width: 992px) {
  @keyframes sideMenuSlideDown {
    from {
      height: 0;
    }
    to {
      height: calc(100vh - 100%);
    }
  }

  @keyframes sideMenuSlideUp {
    from {
      height: calc(100vh - 100%);
    }
    to {
      height: 0;
    }
  }
}
