.project-page-cell {
  margin-bottom: 100px;

  display: flex;

  &.reverse {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
  }

  & .project-page-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #280831;

    flex: 1;

    z-index: 5;

    & img {
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
      position: relative;

      @media (min-width: 576px) {
        width: 50%;
      }

      @media (min-width: 768px) {
      }

      @media (min-width: 992px) {
        width: 100%;
      }

      @media (min-width: 1200px) {
      }
    }
  }

  & .project-page-info {
    flex: 1;
    background-color: #28083155;

    padding: 10px 10px;

    @media (min-width: 576px) {
      padding: 10px 25px;
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
    }

    @media (min-width: 1200px) {
      padding: 50px;
    }
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    & > h3 {
      font-size: 2.5rem;
      font-family: "Rajdhani", sans-serif;
      font-weight: 600;
      color: #280831;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    & > p,
    div.p {
      display: block;

      font-family: "Lato", sans-serif;
      text-align: justify;
      font-size: 120%;
      line-height: 1.75;
    }
  }

  & div.links {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5rem;

    & > a {
      display: block;
      z-index: 4;
      background-color: #280831;
      padding: 0.5rem 2rem;
      border: 2px solid white;
      transform: skewX(-10deg);
      text-decoration: none;
      color: #eeeeee;
      font-size: 1.2rem;

      &,
      &:visited {
        color: #999999;
      }

      transition: color 0.2s, border-color 0.2s;
      &:hover {
        color: #ffffff;
        border-color: #560862;
      }
    }
  }
}

.project-page-tags {
  display: flex;
  position: absolute;
  top: 0em;
  left: 1em;
  right: 1em;
  flex-direction: row;
  flex-wrap: wrap;

  &.static {
    position: static;
  }

  &.big {
    & > .tag {
      font-size: 25px;
    }
  }

  & > .tag {
    padding: 0.5rem;
    margin: 0.25rem 0.5rem 0.25rem 0;
    background-color: #ffffffbb;
    color: #280831;
    border-radius: 1rem;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-size: 1em;
  }
}

.fadingInNormal {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-delay: 0.75s;
  animation-duration: 0.3s;
  animation-fill-mode: both;

  /*@media screen and (max-width: 992px)
    {
        animation: none;
    }*/
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
